---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
    <div class="min-h-screen px-6 py-16 font-sans md:px-12">
        <div class="mx-auto max-w-5xl">
            <header class="mb-12 border-b-2 border-[#243E46]/10 pb-8">
                <h1
                    class="text-4xl font-cardo font-extrabold tracking-tight text-[#243E46]"
                >
                    Blog
                </h1>
            </header>
            <p class="text-lg font-cardo text-[#243E46]/80">
                I write about my experiences, learnings, and projects in the
                field of technology and science. Check out my blog posts below.
            </p>
        </div>
    </div>
</Layout>
