---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
    <div class="min-h-screen px-6 py-16 font-sans md:px-12">
        <div class="mx-auto max-w-5xl">
            <header class="mb-12 border-b-2 border-[#243E46]/10 pb-8">
                <h1
                    class="text-4xl font-cardo font-extrabold tracking-tight text-[#243E46]"
                >
                    gallery
                </h1>
            </header>
            <p class="text-lg font-cardo text-[#243E46]/80">
                This is a gallery page where I shall keep my favourite images
                and photographs. I will be adding more images to this gallery in
                the future. Stay tuned!
            </p>
        </div>
    </div>
</Layout>
