---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="portfolio website of Gokul P Bharathan" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <link rel="canonicall" href="https://gokul2406.github.io/" />

        <meta property="og:title" content="Gokul P Bharathan" />
        <meta property="og:type" content="profile" />
        <meta property="og:url" content="https://gokul2406.github.io/" />
        <meta property="og:description" content="Portfolio and blog of Gokul P Bharathan" />
        <meta name="generator" content={Astro.generator} />
        <title>gokul p bharathan</title>
    </head>
    <body>
        <main class="bg-[#f1f7ed] text-[#243e36]">
            <Navbar />
            <slot />
        </main>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
